@model List<ProductModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <a asp-controller="Products" asp-action="New" type="button"
                class="btn btn-primary btn-small mb-3">Add Product</a>
</div>

<table class="table table-bordered table-striped">

    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">QTY</th>
        <th scope="col">Price</th>
        <th scope="col">SKU</th>
        <th scope="col">Manage</th>
    </tr>

    @foreach (ProductModel p in Model)
    {
        <tr>
            <td>
                @p.Id
            </td>

            <td>
                @p.Name
            </td>

            <td>
                @p.Qty
            </td>

            <td>
                @p.Price
            </td>

            <td>
                @p.SKU
            </td>
            <td>
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@p.Id" type="button"
                class="btn btn-danger btn-small">Delete</a>
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@p.Id" type="button"
                class="btn btn-primary btn-small">Edit</a>
            </td>
        </tr>
    }

</table>
